___

<a href='https://mainacademy.ua/'> <img src='https://mainacademy.ua/wp-content/uploads/2019/03/logo-main.png' alt = 'Хмм, щось з інтернетом'/></a>
___

# Module 5: Data analysis with NumPy and Pandas

## Lab work 5.2

#### Мета: 

* навчитися працювати із бібліотекою Pandas в Python.

### Завдання:

In [ ]:
import pandas as pd

Вивести версію та конфігурацію бібліотеки:

In [6]:
print(pd.__version__)

1.3.3

In [48]:
df = pd.read_csv('Ecommerce Purchases.txt')

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

Скільки рядків і стовпців в наборі даних:

In [49]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

Перевірити, чи в наборі даних містяться порожні значення:

In [199]:
df[df.notnull()].count()

Address             10000
Lot                 10000
AM or PM            10000
Browser Info        10000
Company             10000
Credit Card         10000
CC Exp Date         10000
CC Security Code    10000
CC Provider         10000
Email               10000
Job                 10000
IP Address          10000
Language            10000
Purchase Price      10000
dtype: int64

Яка середня ціна закупки (Purchase Price):

In [50]:
df['Purchase Price'].mean()

50.347302

Скільки людей користуються англійською мовою "en" на веб-сайті:

In [70]:
df[df['Language'] == 'en'].value_counts().shape[0]

1098

Скільки людей має посаду «Lawyer»?

In [71]:
df[df['Job'] == 'Lawyer'].value_counts().shape[0]

30

Скільки людей зробило покупку вранці та скільки людей зробило покупку після обіду?

In [74]:
amCount = df[df['AM or PM'] == 'AM'].value_counts().shape[0]
pmCount = df[df['AM or PM'] == 'PM'].value_counts().shape[0]

print(f'Количество людей, сделавших покупки до обеда: {amCount}')
print(f'Количество людей, сделавших покупки после обеда: {pmCount}')

Количество людей, сделавших покупки до обеда: 4932
Количество людей, сделавших покупки после обеда: 5068

Які 5 найпоширеніших назв вакансій?

In [76]:
df['Job'].value_counts()[:5]

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

Хтось здійснив покупку, яка надійшла від Lot: "90 Wt", та якою була ціна придбання для цієї транзакції?

In [304]:
srchLot = '90 Wt'
df[df['Lot'] == srchLot]['Purchase Price'].shape[0]

0

Яка електронна адреса особи з таким номером кредитної картки: 4926535242672853 ?

In [107]:
number = 4926535242672853
df[df['Credit Card'] == number]['Email'].values[0]

'bondellen@williams-garza.com'

Скільки людей використовує American Express  і здійснили покупку на суму понад 100 доларів?

In [145]:
card = 'American Express'
purchaseSum = 100

df[(df['Purchase Price'] > purchaseSum) & (df['CC Provider'] == card)].shape[0]

0

Скільки людей мають кредитну картку, термін дії якої закінчується в 2025 році?

In [311]:
def cardTermin(expDate):
    termDate = '2025'
    dt = expDate.split('/')
    if dt[1] == termDate[2:]:
        return True
    return False


df[df['CC Exp Date'].map(cardTermin)].head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Host,Actual price,Browser,rank,Rank
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,gmail.com,93.38,Opera,244.5,5458
5,"7502 Powell Mission Apt. 768\nTravisland, VA 3...",21 XT,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_5...,Silva-Anderson,30246185196287,07/25,7169,Discover,ynguyen@gmail.com,Fish farm manager,55.96.152.147,ru,25.15,gmail.com,32.70,Mozilla,852.0,1814
7,"260 Rachel Plains Suite 366\nCastroberg, WV 24...",96 pG,PM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5350...,Marshall-Collins,561252141909,06/25,256,VISA 13 digit,phillip48@parks.info,Event organiser,224.247.97.150,pt,44.25,parks.info,57.52,Mozilla,651.0,2700
13,"118 Melton Via Suite 681\nAlexanderbury, FL 32104",36 bu,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,Keller PLC,4603635169938574,01/25,557,VISA 16 digit,caitlin57@yahoo.com,"Accountant, chartered public finance",84.212.92.11,it,8.93,yahoo.com,11.61,Mozilla,982.0,4079
15,"31730 Chelsea Crest\nBlakemouth, CT 90395-0620",41 Cj,PM,Opera/8.95.(Windows NT 5.0; en-US) Presto/2.9....,Garcia-Steele,180069437020404,04/25,404,Diners Club / Carte Blanche,amanda39@yahoo.com,Retail manager,53.176.235.33,el,71.78,yahoo.com,86.14,Opera,338.0,7640

Які найкращі 5 найпопулярніших постачальників / хостів електронної пошти (наприклад, gmail.com, yahoo.com тощо ...).

In [204]:
def emailHost(email):
    e = email.split('@')
    return e[1]

df['Host'] = df['Email'].map(emailHost)
df['Host'].value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Host, dtype: int64

Виведіть зведену таблицю по браузерах(Browser Info), посаді(Job), та кількості транзакцій :

In [259]:
def browserInfo(browser):
    b = browser.split('/')
    return b[0]

df['Browser'] = df['Browser Info'].map(browserInfo)

df.groupby(['Job', 'Browser'])['Purchase Price'].count()

Job                    Browser
Academic librarian     Mozilla    10
                       Opera       1
Accommodation manager  Mozilla    11
                       Opera       6
Accountant, chartered  Mozilla    14
                                  ..
Wellsite geologist     Opera       2
Writer                 Mozilla     9
                       Opera       1
Youth worker           Mozilla    15
                       Opera       3
Name: Purchase Price, Length: 1222, dtype: int64

Створіть нову колонку "Actual price", яка утворюється із "Purchase Price" та націнки за принципом:
- якщо "Purchase Price" > 50, націнка 20%
- якщо "Purchase Price" > 100, націнка 10%
- в інших випадках націнка 30%

In [235]:
def newprice(price):
    if price > 100:
        return round(price * 1.1, 2)
    elif price > 50 and price < 100:
        return round(price * 1.2, 2)
    return round(price * 1.3, 2)

df['Actual price'] = df['Purchase Price'].map(newprice)
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Host,Actual price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,yahoo.com,117.77
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,reed.com,84.88
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,morales-harrison.com,1.23
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,olson-robinson.info,93.65
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,gmail.com,93.38

Зробіть рангування набору даних по "Language" та "Actual price" в порядку спадання ціни.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [344]:
df['Rank'] = df['Language'].rank(method='dense', ascending=False).astype(int)
df['Rank'] = df['Actual price'].rank(method='dense', ascending=False).astype(int)


df[['Language', 'Actual price', 'Rank']].sort_values('Rank')

     Language  Actual price  Rank
7807       de        119.99     1
2092       el        119.99     1
9856       de        119.96     2
7604       el        119.94     3
3844       el        119.92     4
...       ...           ...   ...
8656       ru          0.03  6213
2783       de          0.03  6213
6863       es          0.01  6214
5487       zh          0.00  6215
2876       it          0.00  6215

[10000 rows x 3 columns]

Колонку "Language" (категоріальна змінна) "закодуйте", тобто утворити індикаторні колоник. В наборі не повинна залишитися колонка "Language".

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

Кінцевий набір даних збережіть у файл з розширенням csv.

In [345]:
df.to_csv('Ecommerce_Purchases_Popkova.csv')